# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Uploaded Videos
uploads/

# Generated Outputs
outputs/

# OS Files
.DS_Store
Thumbs.db